@import 'variables';
@import '_mixins';

.show-form-btn {
  background-color: $bold-blue;
  color: #fff;
  cursor: pointer;
  font-family: $helvetica;
  font-weight: 900;
  font-size: .9em;
  height: 2.5em;
  width: 10em;
  border-radius: 10%;
  &:hover {
    @include themeable(
      background,
      theme-container-background-hover,
      lighten($bold-blue, 10%)
    );
  }
}

.curated-list-names {
  list-style-type: circle;
  font-size: 1.4em;
  font-weight: 700;
}

.curated-titles {
  padding-bottom: 2%;
  &:hover {
    color: darken($bold-blue, 50%)
  }
}